*{
	padding: 0px;
	margin: 0px;
}
body{
	background-image:url("../images/smallfloor.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: hidden;
}
.loadingPage{
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	background-image: url("../images/loading.gif");
	background-size: 50%;
	line-height: 100px;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0px;
}
.loadingWrp{
	position: relative;
	width: 50%;
	height: 3%;
	margin: 25%;
	background-color: blue;
	overflow: hidden;
}
.background{
	margin:100px auto;
	width:1200px;
	height:440px;
	position: relative;
}
.board{
	position: relative;
	width: 770px;
	height: 430px;
	background-image:url('../images/pool-board.png');
	float: left;
	border-radius: 5%;
	display: block;
}
.info-board{
	position: absolute;
	top: 100px;
	left: 200px;
	width: 400px;
	height: 200px;
	line-height: 200px;
	font-size: 32px;
	color: green;
	text-align: center;
	border-radius: 5%;
	background-image: url("../images/browngradient.jpg");
	background-size:100%;
	background-repeat: no-repeat;
	visibility: hidden;

}
.info-board img{
	width: 100%;
	height: 100%;
}
.blueBall{
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	top: 0px;
	left: 0px;
	background-image:url("../images/blue-ball.png");
}
.redBall{
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	top: 0px;
	left: 0px;
	background-image:url("../images/red-ball.png");
	background-size: 100%;
}
.whiteBall{
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	top: 0px;
	left: 0px;
	background-image:url("../images/white-ball.jpg");
	background-size: 100%;
}
.blackBall{
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	top: 0px;
	left: 0px;
	background-image:url("../images/black-ball.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.stick{
	height: 12px;
	position: relative;
	top: 100px;
}
.innerstick{
	width: 383px;
	height: 12px;
	background:url('../images/stick.png');
	position: absolute;
	float: left;
	display: block;
}
.stick-arrow{
	width: 383px;
	height: 0px;
	margin: 5px 0px;
	float: right;
	border-bottom: 2px dotted brown;
	
}
.pow-wrapper{
	width: 170px;
	height: 300px;
	position: relative;
	overflow: hidden;
	float: left;
	background-image:url("../images/power-wrapper.jpeg");
	background-size: 100%;
}
.pow-bg{
	width: 170px;
	height: 300px;
	background-image:url("../images/power-bg.png");
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top:20px;
}
.score-wrp{
	float: left;
	position: relative;
	width: 240px;
	background-image:url("../images/score-wrp.jpeg");
	background-size: 100%;
	margin-right: 5px;
}
.score-main{
	border: 3px solid red;
	width: 90%;
	margin: 20px auto;
	background-color: green;
}
.score-block{
	margin: 10px auto;
	width: 100%;
	background-image:url("../images/score-block.jpeg");
	height: 25px;
	text-align: center;
	line-height: 20px;
	font-family: sans-serif;
}


